<a href="https://colab.research.google.com/github/pushkal1234/Data-Camp-Projects/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv("/content/Fraud.csv")
print(data.head(10))

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...           0.00      0.0             0.0
1     1   PAYMENT   1864.28  ...           0.00      0.0             0.0
2     1  TRANSFER    181.00  ...           0.00      1.0             0.0
3     1  CASH_OUT    181.00  ...           0.00      1.0             0.0
4     1   PAYMENT  11668.14  ...           0.00      0.0             0.0
5     1   PAYMENT   7817.71  ...           0.00      0.0             0.0
6     1   PAYMENT   7107.77  ...           0.00      0.0             0.0
7     1   PAYMENT   7861.64  ...           0.00      0.0             0.0
8     1   PAYMENT   4024.36  ...           0.00      0.0             0.0
9     1     DEBIT   5337.77  ...       40348.79      0.0             0.0

[10 rows x 11 columns]

In [4]:
data.isnull().sum()

step              0
type              0
amount            1
nameOrig          1
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64